<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KhanBoysHostel"
        tools:targetApi="31">
        <activity
            android:name=".CheckStudentsActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterStudentActivity"
            android:exported="false" />
        <activity
            android:name=".AboutActivity"
            android:exported="false" />
        <activity
            android:name=".DisplayBedsUserActivity"
            android:exported="false" />
        <activity
            android:name=".CheckRoomsStudentActivity"
            android:exported="false" />
        <activity
            android:name=".ChargesActivity"
            android:exported="false" />
        <activity
            android:name=".AddChargesActivity"
            android:exported="false" />
        <activity
            android:name=".CheckComplainActivity"
            android:exported="false" />
        <activity
            android:name=".AddComplaintActivity"
            android:exported="false" />
        <activity
            android:name=".MessMenuActivity"
            android:exported="false" />
        <activity
            android:name=".StudentDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".AddMessMenuActivity"
            android:exported="false" />
        <activity
            android:name=".WardenLogInActivity"
            android:exported="false" />
        <activity
            android:name=".StudentLogInActivity"
            android:exported="false" />
        <activity
            android:name=".StudentRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".DisplayBedsActivity"
            android:exported="false" />
        <activity
            android:name=".CheckRoomActivity"
            android:exported="false" />
        <activity
            android:name=".AddRoomActivity"
            android:exported="false" />
        <activity
            android:name=".WardenScreanActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>